/* Sets the margin and text padding to 0 for all elements, the background extends behind the border */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Background, text color, padding and font for the header elements */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets the size of the text in the first heading, next elements are in the same line */
header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* Style and size of the text inside the container. Position of the container inside the header */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* The navigation elements in the header will be positioned horizontally. List has no markers */
header div ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* Color and decoration style for the links */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Size, position and path for the cover picture */
.background {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Position of the pictures in the article section */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Position and style for the main section containing article */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Position and style of the content, images and headings inside the article. Repeating multiple styles merged in one */
.article-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.article-content img {
    max-height: 200px;
}

.article-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Position, font, size and background for the aside section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Multiple class selectiors `benefit-brand` and `benefit cost` are not necessary and can be substituted with a one class selector `benefit` */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* All headings and images in aside section are given the same properties under the class selector `benefit`. Multiple classes were unnecessary */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styles for the text inside the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
